.clock-mode-selector {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid var(--primary-dark);


  .radio-group {
    width: 100%;
    line-height: 28px;
    margin-top: 7px;
    padding: 7px;
    display: flex;
    justify-content: space-evenly;
  }

  label {
    font-size: 1.2em;
  }
}
