.navigation {
    display: flex;
    background-color: var(--secondary-light);
    nav {
        width: 50%;
        text-align: center;
        fa-icon {
            margin-right: .3em;
        }
        &:hover {
            background-color: black;
        }
        a {
            display: block;
            color: var(--primary-light);
            text-decoration: none;
            font-size: 1.4em;
            padding: 14px 16px;
            &.active {
                background-color: var(--secondary-dark);
                border-bottom: 3px solid #ccc;
            }
        }
    }
}
